.container {
    background-color: white;
    display: flex;
    justify-content: center;
    



}

.container div {
    background-color: red;
    margin: 25px;
    padding-top: 10%;
    border-radius: 10px;
    border-color: black;

}

.container img{
    width: 300px;
    height: 300px;
    padding-top: 20%;
    padding-bottom: 20%;
    

}

