body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 20px;
   

}
.menu {
    list-style: none;
    text-align: center;
   

}

.menu li{
    display: inline-block;  
    margin: 0 15px;

}
.menu a{
    text-decoration: none;
    color: black;
   
}

.menu a:hover{
    color: blue;

}



/*Arrumando o tamanho da imagem */

.imagem img{
    width: 300px;

}



.botao a{
    text-decoration: none;
    background-color:rgb(19, 19, 30);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    

}

.botao a:hover{
    background-color: blue;
}
